@{
    ViewData["Title"] = "About";
}
<h2>Om STC</h2>
<br />
<p>
    STC er et Firma der leverer Administrations Systemer,
     <br />
    til både store og små virkomheder
</p>
<p>
    Med et Administrations System fra STC,
    <br />
    vil du altid kunne få viderebygget dit system,
    <br />
    dette vil du kunne gøre helt selv,
    <br />
     eller du kan få os til at lave det du mangler til netop dit firma.
</p>
