@{
    ViewData["Title"] = "Kontaktinformation";
    ViewBag["Message"] = "Her kan du finde kontakt informationer til firmaet";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Fjelhammervej 17A<br />
    2640 Rødovre<br />
    <abbr title="Phone">Telefon:</abbr>
    12345678
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    
</address>
