@{
    ViewData["Title"] = "Home Page";
}
<div>
    <h1>
        Velkommen til STC
    </h1>
    <br />
    <p>
       vi levere skræddersyet systemer til netop dine behov.
        <br />
        et Administrations System er ikke ens for alle.
        <br />
        <h3>Bedre overblik</h3>
        Mangler du bedre overblik over dine medarbejder?
        <br />
        et Administrations System fra STC kan løse netop dine problemer,
        <br />
        du behøver ikke at have et stort firma for at kunne bruge vores systemer.
        <br />
        
        <br />
        <h3>Udvidelse</h3>
        Sker der forandringer i firmaet?
        <br />
        flere medarbejdere, eller flere typer opgaver?
        <br />
        i dette system har du selv mulighed for at kunne tilføje nye funktionaliter,
        <br />
        eller få hjælp til dine nye opgaver som systemet skal klare.
    </p>
</div>
