<div>
    <ul>
        <li><a href="/extensions/userrole/">Start</a></li>
        <li><a href="/extensions/userrole/addrole">tilføj rolle</a></li>
        <li><a href="/extensions/userrole/removerole">Fjern rolle</a></li>
        <li><a href="/extensions/userrole/roles">Liste over roller</a></li>
    </ul>
</div>

<h3>Liste over roller</h3>
<div>
    @foreach (var role in Model)
    {
        <p>
            <strong>@role.Name | </strong>
        </p>
    }
</div>