<form method="post" asp-action="upload" asp-controller="admin" enctype="multipart/form-data">
    <input type="file" name="files" multiple />
    <input type="submit" value="Upload" />
    @ViewBag.Message
</form>
